# Node & Python dependencies
node_modules/
venv/

# Build and dist outputs
dist/
frontend/dist/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs and runtime files
*.log

# System files
.DS_Store

# Data artifacts
*.csv
*.json
*.db

# Custom data folders
data/embedding/
backend/data/pdf/         # if raw uploads
vector_store/

# Environment variables
.env
.env.*

# Optional: VSCode settings
.vscode/